html, body{
  min-height: 100%;
  font-family: "Raleway-Light", sans-serif;
  font-size: 1em;
  color: $c_body;
  background: $bg_body;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  overflow: hidden;

  &:after{
    content: "";
    display: block;
    height: $h_footer;
  }
}

.footer{
  height:$h_footer;
  margin:-$h_footer 0 0;
}

.clearfix{
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

ul{
  margin: 0 0 1em;
  padding: 0;
  list-style-type: none;
}

.center{
  width: 60em;
  max-width: 98%;
  margin: 0 auto;
}

.btn{
  display: inline-block;
  padding:0.875em 1.5625em;
  text-decoration: none;
  text-transform: uppercase;
  font-family:"Raleway-Bold", sans-serif;
  font-size:0.75em;
}

.block__head{
  font-family: "Raleway-Light", sans-serif;
  font-size: 1.6875em;
  text-transform: uppercase;
  text-align: center;
  font-weight:400;
  padding: 0 0 1.25em 0;
  margin: 0 0 2em 0;

  span{
    font-family: "Raleway-Semibold",sans-serif;
    color: $c_h_body;
  }
}

.block__head_center{
  position: relative;

  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: inline-block;
    width: 6em;
    border-bottom: 1px solid #939393;
    transform: translateX(-50%);
  }

  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    background: url("../img/bgHeadAfter.png") no-repeat top center;
    bottom: -20px;
    left: 50%;
    width:38px;
    height:40px;
    transform: translateX(-50%);
  }
}

.block__head_left{
  text-align: left;
  position: relative;

  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 2%;
    display: inline-block;
    width: 3em;
    border-bottom: 1px solid #939393;
  }

  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    background: url("../img/bgHeadAfter.png") no-repeat top center;
    bottom: -20px;
    left: 2%;
    width:38px;
    height:40px;
    transform: translateX(-50%);
  }
}

.block__prew{
  width: 70%;
  margin: 0 auto 3em;

  p{
    font-family: "Raleway-Light", sans-serif;
    font-size: 0.75em;
    margin: 0 0 1em;
  }
}